*
!.gitignore
!CMakeLists.txt
!init.sh
!src/
!src/.gitkeep
!test/
!test/.gitkeep
!resources/
!resources/.gitkeep
!resources/release
!resources/release/.gitkeep
!resources/debug
!resources/debug/.gitkeep
!build/
!build/debug/
!build/release/
!build/release/build_root_makefile.sh
!build/debug/build_root_makefile.sh
!README.md
!license.txt
